:root {
  /* --half-gap: 10px; */
  --gap: calc(var(--half-gap) * 2);
  --col-1: calc(100% / 12 - var(--gap));
  --col-gap: calc(var(--col-1) + var(--gap));
  --col-2: calc(var(--col-1) + var(--col-gap));
  --col-3: calc(var(--col-2) + var(--col-gap));
  --col-4: calc(var(--col-3) + var(--col-gap));
  --col-5: calc(var(--col-4) + var(--col-gap));
  --col-6: calc(var(--col-5) + var(--col-gap));
  --col-7: calc(var(--col-6) + var(--col-gap));
  --col-8: calc(var(--col-7) + var(--col-gap));
  --col-9: calc(var(--col-8) + var(--col-gap));
  --col-10: calc(var(--col-9) + var(--col-gap));
  --col-11: calc(var(--col-10) + var(--col-gap));
  --col-12: calc(var(--col-11) + var(--col-gap));
  --ml-0: var(--half-gap);
  --ml-1: calc(var(--ml-0) + var(--col-gap));
  --ml-2: calc(var(--ml-1) + var(--col-gap));
  --ml-3: calc(var(--ml-2) + var(--col-gap));
  --ml-4: calc(var(--ml-3) + var(--col-gap));
  --ml-5: calc(var(--ml-4) + var(--col-gap));
  --ml-6: calc(var(--ml-5) + var(--col-gap));
  --ml-7: calc(var(--ml-6) + var(--col-gap));
  --ml-8: calc(var(--ml-7) + var(--col-gap));
  --ml-9: calc(var(--ml-8) + var(--col-gap));
  --ml-10: calc(var(--ml-9) + var(--col-gap));
  --ml-11: calc(var(--ml-10) + var(--col-gap));
}

.container {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 60px 20px 30px 20px;
}

.container > .row {
  display: inline-block;
  width: 100%;
}

.container > .row > [class*="col-"] {
  /* float: left; */
  margin: 0 var(--half-gap);
}

.container > .row > .col-1 {
  width: var(--col-1);
}

.container > .row > .col-2 {
  width: var(--col-2);
}

.container > .row > .col-3 {
  width: var(--col-3);
}

.container > .row > .col-4 {
  width: var(--col-4);
}

.container > .row > .col-5 {
  width: var(--col-5);
}

.container > .row > .col-6 {
  width: var(--col-6);
}

.container > .row > .col-7 {
  width: var(--col-7);
}

.container > .row > .col-8 {
  width: var(--col-8);
}

.container > .row > .col-9 {
  width: var(--col-9);
}

.container > .row > .col-10 {
  width: var(--col-10);
}

.container > .row > .col-11 {
  width: var(--col-11);
}

.container > .row > .col-12 {
  width: var(--col-12);
}

.container > .row > .m-l-0 {
  margin-left: var(--ml-0);
}

.container > .row > .m-l-1 {
  margin-left: var(--ml-1);
}

.container > .row > .m-l-2 {
  margin-left: var(--ml-2);
}

.container > .row > .m-l-3 {
  margin-left: var(--ml-3);
}

.container > .row > .m-l-4 {
  margin-left: var(--ml-4);
}

.container > .row > .m-l-5 {
  margin-left: var(--ml-5);
}

.container > .row > .m-l-6 {
  margin-left: var(--ml-6);
}

.container > .row > .m-l-7 {
  margin-left: var(--ml-7);
}

.container > .row > .m-l-8 {
  margin-left: var(--ml-8);
}

.container > .row > .m-l-9 {
  margin-left: var(--ml-9);
}

.container > .row > .m-l-10 {
  margin-left: var(--ml-10);
}

.container > .row > .m-l-11 {
  margin-left: var(--ml-11);
}

@media (min-width: 576px) {
  .container > .row {
    width: 540px;
  }

  .container > .row > .col-xs-1 {
    width: var(--col-1);
  }

  .container > .row > .col-xs-2 {
    width: var(--col-2);
  }

  .container > .row > .col-xs-3 {
    width: var(--col-3);
  }

  .container > .row > .col-xs-4 {
    width: var(--col-4);
  }

  .container > .row > .col-xs-5 {
    width: var(--col-5);
  }

  .container > .row > .col-xs-6 {
    width: var(--col-6);
  }

  .container > .row > .col-xs-7 {
    width: var(--col-7);
  }

  .container > .row > .col-xs-8 {
    width: var(--col-8);
  }

  .container > .row > .col-xs-9 {
    width: var(--col-9);
  }

  .container > .row > .col-xs-10 {
    width: var(--col-10);
  }

  .container > .row > .col-xs-11 {
    width: var(--col-11);
  }

  .container > .row > .col-xs-12 {
    width: var(--col-12);
  }

  .container > .row > .m-l-xs-0 {
    margin-left: var(--ml-0);
  }

  .container > .row > .m-l-xs-1 {
    margin-left: var(--ml-1);
  }

  .container > .row > .m-l-xs-2 {
    margin-left: var(--ml-2);
  }

  .container > .row > .m-l-xs-3 {
    margin-left: var(--ml-3);
  }

  .container > .row > .m-l-xs-4 {
    margin-left: var(--ml-4);
  }

  .container > .row > .m-l-xs-5 {
    margin-left: var(--ml-5);
  }

  .container > .row > .m-l-xs-6 {
    margin-left: var(--ml-6);
  }

  .container > .row > .m-l-xs-7 {
    margin-left: var(--ml-7);
  }

  .container > .row > .m-l-xs-8 {
    margin-left: var(--ml-8);
  }

  .container > .row > .m-l-xs-9 {
    margin-left: var(--ml-9);
  }

  .container > .row > .m-l-xs-10 {
    margin-left: var(--ml-10);
  }

  .container > .row > .m-l-xs-11 {
    margin-left: var(--ml-11);
  }
}

@media (min-width: 768px) {
  .container > .row {
    width: 720px;
  }

  .container > .row > .col-sm-1 {
    width: var(--col-1);
  }

  .container > .row > .col-sm-2 {
    width: var(--col-2);
  }

  .container > .row > .col-sm-3 {
    width: var(--col-3);
  }

  .container > .row > .col-sm-4 {
    width: var(--col-4);
  }

  .container > .row > .col-sm-5 {
    width: var(--col-5);
  }

  .container > .row > .col-sm-6 {
    width: var(--col-6);
  }

  .container > .row > .col-sm-7 {
    width: var(--col-7);
  }

  .container > .row > .col-sm-8 {
    width: var(--col-8);
  }

  .container > .row > .col-sm-9 {
    width: var(--col-9);
  }

  .container > .row > .col-sm-10 {
    width: var(--col-10);
  }

  .container > .row > .col-sm-11 {
    width: var(--col-11);
  }

  .container > .row > .col-sm-12 {
    width: var(--col-12);
  }

  .container > .row > .m-l-sm-0 {
    margin-left: var(--ml-0);
  }

  .container > .row > .m-l-sm-1 {
    margin-left: var(--ml-1);
  }

  .container > .row > .m-l-sm-2 {
    margin-left: var(--ml-2);
  }

  .container > .row > .m-l-sm-3 {
    margin-left: var(--ml-3);
  }

  .container > .row > .m-l-sm-4 {
    margin-left: var(--ml-4);
  }

  .container > .row > .m-l-sm-5 {
    margin-left: var(--ml-5);
  }

  .container > .row > .m-l-sm-6 {
    margin-left: var(--ml-6);
  }

  .container > .row > .m-l-sm-7 {
    margin-left: var(--ml-7);
  }

  .container > .row > .m-l-sm-8 {
    margin-left: var(--ml-8);
  }

  .container > .row > .m-l-sm-9 {
    margin-left: var(--ml-9);
  }

  .container > .row > .m-l-sm-10 {
    margin-left: var(--ml-10);
  }

  .container > .row > .m-l-sm-11 {
    margin-left: var(--ml-11);
  }
}

@media (min-width: 992px) {
  .container > .row {
    width: 960px;
  }

  .container > .row > .col-md-1 {
    width: var(--col-1);
  }

  .container > .row > .col-md-2 {
    width: var(--col-2);
  }

  .container > .row > .col-md-3 {
    width: var(--col-3);
  }

  .container > .row > .col-md-4 {
    width: var(--col-4);
  }

  .container > .row > .col-md-5 {
    width: var(--col-5);
  }

  .container > .row > .col-md-6 {
    width: var(--col-6);
  }

  .container > .row > .col-md-7 {
    width: var(--col-7);
  }

  .container > .row > .col-md-8 {
    width: var(--col-8);
  }

  .container > .row > .col-md-9 {
    width: var(--col-9);
  }

  .container > .row > .col-md-10 {
    width: var(--col-10);
  }

  .container > .row > .col-md-11 {
    width: var(--col-11);
  }

  .container > .row > .col-md-12 {
    width: var(--col-12);
  }

  .container > .row > .m-l-md-0 {
    margin-left: var(--ml-0);
  }

  .container > .row > .m-l-md-1 {
    margin-left: var(--ml-1);
  }

  .container > .row > .m-l-md-2 {
    margin-left: var(--ml-2);
  }

  .container > .row > .m-l-md-3 {
    margin-left: var(--ml-3);
  }

  .container > .row > .m-l-md-4 {
    margin-left: var(--ml-4);
  }

  .container > .row > .m-l-md-5 {
    margin-left: var(--ml-5);
  }

  .container > .row > .m-l-md-6 {
    margin-left: var(--ml-6);
  }

  .container > .row > .m-l-md-7 {
    margin-left: var(--ml-7);
  }

  .container > .row > .m-l-md-8 {
    margin-left: var(--ml-8);
  }

  .container > .row > .m-l-md-9 {
    margin-left: var(--ml-9);
  }

  .container > .row > .m-l-md-10 {
    margin-left: var(--ml-10);
  }

  .container > .row > .m-l-md-11 {
    margin-left: var(--ml-11);
  }
}

@media (min-width: 1200px) {
  .container > .row {
    width: 1140px;
  }

  .container > .row > .col-lg-1 {
    width: var(--col-1);
  }

  .container > .row > .col-lg-2 {
    width: var(--col-2);
  }

  .container > .row > .col-lg-3 {
    width: var(--col-3);
  }

  .container > .row > .col-lg-4 {
    width: var(--col-4);
  }

  .container > .row > .col-lg-5 {
    width: var(--col-5);
  }

  .container > .row > .col-lg-6 {
    width: var(--col-6);
  }

  .container > .row > .col-lg-7 {
    width: var(--col-7);
  }

  .container > .row > .col-lg-8 {
    width: var(--col-8);
  }

  .container > .row > .col-lg-9 {
    width: var(--col-9);
  }

  .container > .row > .col-lg-10 {
    width: var(--col-10);
  }

  .container > .row > .col-lg-11 {
    width: var(--col-11);
  }

  .container > .row > .col-lg-12 {
    width: var(--col-12);
  }

  .container > .row > .m-l-lg-0 {
    margin-left: var(--ml-0);
  }

  .container > .row > .m-l-lg-1 {
    margin-left: var(--ml-1);
  }

  .container > .row > .m-l-lg-2 {
    margin-left: var(--ml-2);
  }

  .container > .row > .m-l-lg-3 {
    margin-left: var(--ml-3);
  }

  .container > .row > .m-l-lg-4 {
    margin-left: var(--ml-4);
  }

  .container > .row > .m-l-lg-5 {
    margin-left: var(--ml-5);
  }

  .container > .row > .m-l-lg-6 {
    margin-left: var(--ml-6);
  }

  .container > .row > .m-l-lg-7 {
    margin-left: var(--ml-7);
  }

  .container > .row > .m-l-lg-8 {
    margin-left: var(--ml-8);
  }

  .container > .row > .m-l-lg-9 {
    margin-left: var(--ml-9);
  }

  .container > .row > .m-l-lg-10 {
    margin-left: var(--ml-10);
  }

  .container > .row > .m-l-lg-11 {
    margin-left: var(--ml-11);
  }
}

@media (min-width: 1400px) {
  .container > .row {
    width: 1350px;
  }

  .container > .row > .col-xl-1 {
    width: var(--col-1);
  }

  .container > .row > .col-xl-2 {
    width: var(--col-2);
  }

  .container > .row > .col-xl-3 {
    width: var(--col-3);
  }

  .container > .row > .col-xl-4 {
    width: var(--col-4);
  }

  .container > .row > .col-xl-5 {
    width: var(--col-5);
  }

  .container > .row > .col-xl-6 {
    width: var(--col-6);
  }

  .container > .row > .col-xl-7 {
    width: var(--col-7);
  }

  .container > .row > .col-xl-8 {
    width: var(--col-8);
  }

  .container > .row > .col-xl-9 {
    width: var(--col-9);
  }

  .container > .row > .col-xl-10 {
    width: var(--col-10);
  }

  .container > .row > .col-xl-11 {
    width: var(--col-11);
  }

  .container > .row > .col-xl-12 {
    width: var(--col-12);
  }

  .container > .row > .m-l-xl-0 {
    margin-left: var(--ml-0);
  }

  .container > .row > .m-l-xl-1 {
    margin-left: var(--ml-1);
  }

  .container > .row > .m-l-xl-2 {
    margin-left: var(--ml-2);
  }

  .container > .row > .m-l-xl-3 {
    margin-left: var(--ml-3);
  }

  .container > .row > .m-l-xl-4 {
    margin-left: var(--ml-4);
  }

  .container > .row > .m-l-xl-5 {
    margin-left: var(--ml-5);
  }

  .container > .row > .m-l-xl-6 {
    margin-left: var(--ml-6);
  }

  .container > .row > .m-l-xl-7 {
    margin-left: var(--ml-7);
  }

  .container > .row > .m-l-xl-8 {
    margin-left: var(--ml-8);
  }

  .container > .row > .m-l-xl-9 {
    margin-left: var(--ml-9);
  }

  .container > .row > .m-l-xl-10 {
    margin-left: var(--ml-10);
  }

  .container > .row > .m-l-xl-11 {
    margin-left: var(--ml-11);
  }
}

/* header */

.header {
  display: flex;
  position: sticky;
  top: 0;
  width: 100%;
  justify-content: space-around;
  align-items: center;
}
.logo a {
  display: flex;
  padding-right: 50px;
  border-right: solid 1px #27292a;
}
.input_container {
  display: flex;
}
form {
  position: relative;
  align-content: center;
}
input {
  width: 230px;
  height: 50px;
  padding: 0px 15px 0px 50px !important;
  font-size: 14px;
  background-color: #27292a;
  color: #666;
  border-radius: 50px;
  border: none;
  outline: none;
}
input:focus {
  border: 1px solid #fff;
}
form i {
  position: absolute;
  width: 20px;
  height: 20px;
  left: 25px;
  top: 18px;
  font-size: 16px;
  color: #666;
}
.meniu {
  display: flex;
  align-items: center;
  justify-content: center;
}
.btn {
  margin-right: 30px;
  font-size: 14px;
  text-align: center;
  background-color: transparent;
  border: none;
}
.meniu a {
  text-decoration: none;
  color: #666;
  cursor: pointer;
}
.meniu a:hover {
  color: #e75e8d;
}
.btn:nth-child(1) {
  color: #e75e8d;
}
.btn:nth-child(5) {
  padding: 5px 10px 5px 20px;
  background-color: #27292a;
  border-radius: 20px;
}
.btn:nth-child(5) img {
  padding-left: 5px;
  border-radius: 20px;
}
.btn:nth-child(5) img {
  vertical-align: middle;
}
.btn:nth-child(5):hover {
  padding: 5px 10px 5px 20px;
  background-color: #e75e8d;
  color: #fff;
  border-radius: 20px;
}

/* hamburger meniu */
.header .hamburger {
  justify-content: space-between;
}

.hamburger {
  font-size: 30px;
}

/* main */
.background {
  padding: 50px 70px;
  background-color: #27292a;
  border-radius: 25px;
}

/* welcome */

.welcome {
  height: 400px;
  width: 100%;
  background-image: url("../../img/banner-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  border-radius: 25px;
}
.welcome > .description {
  display: inline-block;
  width: 50%;
  padding-top: 70px;
  padding-left: 60px;
}
.description p {
  margin-bottom: 20px;
  font-size: 20px;
  color: #fff;
}
.description h1 {
  line-height: 60px;
  font-size: 45px;
  text-transform: uppercase;
  color: #fff;
}
.description h1 span {
  color: #e75e8d;
}

/* most_popular section */

.black-background {
  /* width: 100%; */
  margin-top: 50px;
  padding: 10px 60px 50px 60px;
  background-color: #1f2122;
  border-radius: 25px;
}
.title {
  padding: 30px 0;
  font-size: 35px;
  font-weight: 600;
  text-transform: capitalize;
  color: #e75e8d;
}
span {
  text-decoration: underline;
  color: #fff;
}
.lighter-background {
  background-color: #27292a;
  border-radius: 25px;
}

.block-content {
  display: flex;
  align-items: center;
  justify-content: center;
}

.block-content:nth-child(2) {
  margin-bottom: 30px;
}

.block {
  display: inline-block;
  margin-right: 20px;
  padding: 30px 20px 20px 20px;
}
.block img {
  width: 180px;
  height: 150px;
  border-radius: 35px 20px;
}
.text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 20px;
}
.text-white {
  margin-top: 20px;
  font-size: 16px;
  font-weight: 700;
  color: #fff;
}
.text-white > i {
  display: flex;
  justify-content: center;
  float: right;
  color: yellow;
}
.text-white i > span {
  margin-left: 5px;
  margin-top: 3px;
  font-size: 12px;
  font-weight: 700;
  text-decoration: none;
  color: #fff;
}
.text-no-bold {
  font-size: 16px;
}
.text-no-bold > i {
  display: flex;
  justify-content: center;
  float: right;
  color: #e75e8d;
}
.text-no-bold i > span {
  margin-left: 5px;
  margin-top: 3px;
  font-size: 12px;
  text-decoration: none;
  color: #fff;
}
.center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.center > .button {
  display: flex;
  width: 180px;
  margin-top: -25px;
  text-align: center;
  z-index: 10;
}

/* gaming_library section */

.gaming_library {
  width: 100%;
}

.row-block {
  display: flex;
  padding: 30px 0px;
  border-bottom: 1px solid #666;
  justify-content: center;
  align-items: center;
}
.row-block img {
  border-radius: 20px;
}
.row-block > .text {
  margin-right: 100px;
}
.row-block > .text:nth-child(2) {
  margin-left: 20px;
}
.text > .text-white {
  margin-top: 0;
}

/* footer */

body > footer {
  margin-bottom: 30px;
}

footer > p {
  text-align: center;
  font-weight: 400;
  color: #fff;
}

footer p > span:hover {
  color: #e75e8d;
  cursor: pointer;
}

@media (max-width: 576px) {
  .row > .background {
    padding: 0;
  }
  .background .welcome > .description {
    padding: 100px 0;
  }

  .row .background .most_popular > .block-content {
    display: flex;
    /* align-items: center;
    justify-content: center; */
  }

  .row .background .most_popular .block-content > .block img {
    width: 100%;
    height: 20%;
  }

  .black-background > .row-content {
    align-items: center;
    justify-content: center;
  }

  .row-content > .row-block img {
    margin-right: 0;
  }

  .row-content .row-block > .text {
    flex-direction: row;
    margin-right: 0px;
  }

  .row-content .row-block .text > .text-white {
    margin-left: 10px;
  }

  .row-content .row-block .text > .text-no-bold {
    margin-left: 10px;
  }
}

@media (max-width: 768px) {
  .background {
    padding: 50px 25px;
  }

  .background .welcome > .description {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-left: 0;
    align-items: center;
    text-align: center;
  }
  .description h1 {
    line-height: 40px;
    font-size: 35px;
  }

  .black-background {
    padding: 0 0 50px 20px;
  }

  .background .most_popular > .block-content {
    display: inline-block;
  }

  .background .most_popular .block-content > .block img {
    width: 170px;
    height: 130px;
  }

  .block .text > .text-white {
    font-size: 14px;
  }

  .block .text .text-white i > span {
    font-size: 12px;
  }
  .block .text .text-no-bold {
    font-size: 14px;
  }
  .block .text .text-no-bold > i {
    font-size: 12px;
  }
  .block .text .text-no-bold i > span {
    font-size: 12px;
  }
}

@media (max-width: 992px) {
  .header {
    display: flex;
    background-color: #fff;
    justify-content: space-between;
  }

  .meniu {
    display: grid;
    position: absolute;
    background-color: #fff;
    width: 100%;
    top
  }

  .logo a {
    border: none;
  }

  .meniu {
    /* display: none; */
  }

  .meniu > .btn {
    padding: 20px;
    border-bottom: 1px solid #666;
  }

  .input_container {
    display: none;
  }

  .btn:nth-child(5) {
    padding: 20px;
    background-color: #fff;
  }

  .btn:nth-child(5) img {
    display: none;
  }

  .btn:nth-child(5):hover {
    padding: 20px;
    background-color: #fff;
    color: #e75e8d;
  }

  .welcome > .description {
    width: 75%;
    padding-top: 70px;
    padding-left: 60px;
  }

  .title {
    font-size: 25px;
  }

  .block-content {
    flex-wrap: wrap;
  }

  .block {
    margin: 0 20px 20px 0;
  }
  .most_popular .block-content > .block img {
    width: 200px;
    height: 170px;
  }
  .block-content:nth-child(2) {
    margin: 0;
  }

  .text > .text-white {
    font-size: 18px;
  }

  .text .text-white i > span {
    font-size: 13px;
  }
  .text > .text-no-bold {
    font-size: 18px;
  }
  .text .text-no-bold > i {
    font-size: 15px;
  }
  .text .text-no-bold i > span {
    font-size: 13px;
  }

  .row-content {
    text-align: center;
  }

  .row-block {
    display: inline-block;
    padding: 30px 0px;
    align-content: center;
    border: none;
  }

  .row-block img {
    width: 80%;
    margin-right: 60px;
    border: none;
  }

  .row-block > .text:nth-child(2) {
    margin-left: 0;
  }
}

@media (min-width: 992px) {
  .header .hamburger {
  }
}

@media (max-width: 1200px) {
  .black-background {
    padding: 0 0 50px 20px;
  }
  .block-content > .block img {
    width: 140px;
    height: 100px;
  }

  .text-white {
    font-size: 14px;
  }

  .text-white i > span {
    font-size: 11px;
  }
  .text-no-bold {
    font-size: 14px;
  }
  .text-no-bold > i {
    font-size: 11px;
  }
  .text-no-bold i > span {
    font-size: 10px;
  }

  .row-content {
    display: block;
  }
}

@media (max-width: 1400px) {
  .row-block > .text {
    margin-right: 60px;
  }
}
