.button {
  display: flex;

  width: 140px;
  height: 45px;
  margin-top: 20px;
  padding: 20px;
  font-size: 14px;
  align-items: center;
  justify-content: center;
  background-color: #e75e8d;
  color: #fff;
  border-radius: 30px;
  cursor: pointer;
  border: none;
}

.button:hover {
  background-color: #fff;
  color: #e75e8d;
}
