.button {
  display: flex;
  width: 140px;
  height: 45px;
  margin-top: 20px;
  padding: 20px;
  font-size: 14px;
  align-items: center;
  text-transform: capitalize;
  text-decoration: none;
  justify-content: center;
  background-color: #e75e8d;
  color: #fff;
  border-radius: 30px;
  cursor: pointer;
  border: none;
}
.button:hover {
  background-color: #fff;
  color: #e75e8d;
}

@media (max-width: 768px) {
  .description > .button {
    margin-top: 70px;
  }
}

@media (max-width: 576px) {
  .row-block > .button {
    width: 100%;
  }
}

/* gaming_library section button */

.row-block > .button {
  margin-top: 15px;
  background-color: transparent;
  color: #666;
  border: 1px solid #666;
  border-radius: 30px;
  cursor: pointer;
}
.row-block:nth-child(2) > .button:nth-child(6) {
  background-color: transparent;
  color: #e75e8d;
  border: 1px solid #e75e8d;
}
.row-block:nth-child(2) > .button:nth-child(6):hover {
  background-color: #fff;
  color: #e75e8d;
  border: none;
}

/* browse page featured-games section  */

.buttons {
  display: flex;
  float: right;
  padding-top: 50px;
  color: #666;
}
.left {
  margin-right: 2px;
}
.right {
  margin-left: 2px;
}
.left:hover:hover {
  color: #e75e8d;
}
.right:hover {
  color: #e75e8d;
}

@media (max-width: 576px) {
  .buttons {
    padding-top: 75px;
  }
}

/* clips section */

.clip-btn {
  position: relative;
}
.clip-btn i {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 40px;
  height: 40px;
  padding: 12px 8px 8px 16px;
  background-color: #fff;
  color: #e75e8d;
  border-radius: 25px;
  transform: translate(-50%, -25%);
}
