.browse > .btn:nth-child(1) {
  color: #666;
}

.browse > .btn:nth-child(1):hover {
  color: #e75e8d;
}

.browse > .btn:nth-child(2) {
  color: #e75e8d;
}

.feature-game {
  display: flex;
}

.left-side {
  display: flex;
  flex-direction: row;
}
.featured-games.black-background {
  position: relative;
  margin: 0;
  padding: 0 30px;
}
.title {
  display: flex;
  justify-content: space-between;
}
.title > h3 {
  float: left;
  padding-top: 20px;
}
.featured-games .block-content > .block {
  position: relative;
  margin: 20px 20px 20px 0px;
  padding: 0;
}
.img-overlay > .img-over {
  width: 220px;
  height: 350px;
  margin-bottom: 20px;
  border-radius: 35px 20px;
}
.block:hover > .img-over {
  opacity: 1;
}
.img-overlay:hover .overlay {
  color: rgb(17, 33, 33);
  opacity: 1;
}
.overlay {
  position: absolute;
  top: 305px;
  left: 30px;
  opacity: 0;
  transition: 0.4s all;
}
.overlay p {
  background-color: #27292a;
  color: #e75e8d;
  font-size: 14px;
  padding: 5px 20px;
  border: none;
  border-radius: 30px;
}

/* top downloaded section */

.right-side {
  display: flex;
  flex-direction: column;
}
.right-side > .black-background {
  padding: 0 60px 0 30px;
  margin: 0 0 0 25px;
}
.top-downloaded .row-content > .row-block {
  display: flex;
  padding: 25px 0;
  align-items: center;
}
.top-downloaded .row-content > .row-block > .text {
  margin-right: 0;
}
.text > .item {
  display: flex;
}
.item > .text-white {
  margin: 0 10px 0 0;
}
.download {
  width: 45px;
  height: 45px;
  margin-left: 50px;
  padding: 12px;
  text-align: center;
  background-color: #27292a;
  color: #e75e8d;
  border-radius: 30px;
  cursor: pointer;
}
.row-content > .link {
  padding: 25px 90px;
}
.row-content > .link a {
  text-decoration: none;
  text-transform: capitalize;
  color: #e75e8d;
}

/* live-stream section */

.live > .title {
  margin: 30px 0;
  justify-content: center;
}

.live > .row-block {
  border: none;
}

.block-section {
  border: 1px solid #555;
  border-radius: 25px;
  width: calc(50% - 20px);
}

.block-section > .icon img {
  margin: 30px 0 30px 30px;
  border-radius: 45px;
}

.block-section:nth-child(2) {
  margin: 0 30px;
}

.block-section a {
  text-decoration: none;
  color: #fff;
  font-weight: 300;
}

.block-section a:hover {
  color: #e75e8d;
}

.block-items {
  margin: 0 0 0 30px;
}

.block-items > .text-white {
  margin: 0 0 15px 0;
  font-size: 20px;
}

.block-items > .text-no-bold {
  margin-bottom: 30px;
  font-size: 14px;
}

.live > .center {
  margin: 40px 0;
}

.live > .center a {
  text-decoration: none;
}

/* most-popular section */

.row-block .block > .img-overlay img {
  width: 270px;
  height: 270px;
}

.row-block .block .img-overlay .overlay > .hover1 {
  display: flex;
  position: absolute;
  width: 120px;
  height: 50px;
  padding: 10px 0;
  align-content: center;
  justify-items: center;
  top: 90px;
  left: 130px;
}

.row-block .block .img-overlay .overlay > .hover1 p {
  margin: 0;
}

.row-block .block .img-overlay .overlay > .hover1 i {
  margin: 0;
  padding: 0;
}

.row-block .block .img-overlay .overlay > .hover2 {
  position: absolute;
  left: 200px;
}

.row-block .block .img-overlay .overlay > .hover3 {
  position: absolute;
  left: 400px;
}
