.details > .btn:nth-child(1) {
  color: #666;
}

.details > .btn:nth-child(2) {
  color: #666;
}

.details > .btn:nth-child(2):hover {
  color: #e75e8d;
}

.details > .btn:nth-child(3) {
  color: #e75e8d;
}

/* details-images section */

.details-images {
  display: flex;
}

.details-images img {
  border-radius: 25px;
}

.details-images > .left img {
  width: 100%;
  height: 324px;
  margin-right: 50px;
}

.details-images > .right {
  position: relative;
}

.details-images > .right img {
  width: 100%;
  height: 324px;
  margin-left: 25px;
}

.details-images > .right i {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 40px;
  height: 40px;
  padding: 12px 8px 8px 16px;
  background-color: #fff;
  color: #e75e8d;
  transform: translate(-25%, 25%);
  border-radius: 25px;
}

/* Your Gaming Library */

.background > .title {
  margin: 50px 0;
  font-size: 45px;
  font-weight: 800;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
}

.width > .block-content {
  align-items: unset;
}

.width .block-content > .block {
  width: 50%;
}

.text-custom > .text {
  margin-top: 0;
}

.block > .symbols {
  display: flex;
  justify-content: space-around;
  align-content: center;
}

.symbols > .symbol {
  text-align: center;
}

.symbols .symbol > .fa-star {
  color: yellow;
}

.symbols > .symbol i {
  color: #e75e8d;
}

.symbols .symbol > .text-white {
  margin: 0;
  font-size: 14px;
}

.width > .only-img {
  display: flex;
  justify-content: space-evenly;
}

.only-img > .block {
  margin: 40px 0;
  padding: 10px 20px 0 0;
}

.only-img > .block img {
  width: 301px;
  height: 256px;
}

.width > .text-no-bold a {
  text-decoration: none;
  color: #ccc;
}

.width > .text-no-bold a:hover {
  color: #fff3cd;
}

.width > .center {
  margin-top: 60px;
}

.width .center > .button {
  width: 100%;
  background-color: transparent;
  color: #e75e8d;
  border: 1px solid #e75e8d;
}

.width .center > .button:hover {
  background-color: #fff;
  color: #e75e8d;
  border: 1px solid #e75e8d;
}

.related-games .row-content .row-block > .text {
  width: 100%;
  margin-right: 50px;
}

.area > .row-content {
  display: flex;
}

.related-games .row-content > .row-block {
  width: 100%;
  display: flex;
}

@media (max-width: 576px) {
}

@media (max-width: 768px) {
  .row .area > .row-content {
    display: block;
  }

  .row-block img {
    width: 20%;
    margin: 0;
  }

  .area .row-content .row-block > .text {
    flex-direction: column;
  }
}

@media (max-width: 992px) {
  .size > .background {
    margin: 160px 0 0 0;
  }

  .details-images {
    display: inline-block;
  }

  .left {
    margin-right: 0;
  }

  .details-images > .left img {
    height: unset;
  }

  .details-images > .right img {
    height: unset;
    margin: 50px 0 0 0;
  }

  .background .width .block-content > .block {
    width: 100%;
    margin: 30px 10px 0 0;
  }

  .background .width > .only-img {
    display: block;
    text-align: center;
  }

  .width .only-img > .block {
    margin: 25px 0 0 0;
  }

  .width .only-img > .block img {
    width: 267px;
    height: 249px;
  }

  .width > .text-no-bold {
    margin-top: 30px;
  }
}

@media (max-width: 1200px) {
  .only-img > .block img {
    width: 237px;
    height: 218px;
  }
}

@media (max-width: 1400px) {
  .width .block-content > .block {
    width: 50%;
    margin: 30px 10px 0 0;
  }

  .block .only-img > .block img {
    width: 271px;
    height: 239px;
  }
}
