.profile > .btn:nth-child(4) {
  color: #666;
}

.profile > .btn:nth-child(4):hover {
  color: #e75e8d;
}

.profile > .btn:nth-child(5) {
  color: #fff;
}

.profile > .btn:nth-child(5) {
  background-color: #e75e8d;
}

/* person-profile section  */

.person-profile {
  display: flex;
  border-bottom: solid 1px #555;
  padding-bottom: 30px;
}

.person-profile img {
  border-radius: 25px;
}

.offline {
  width: 48%;
  margin-left: 20px;
  padding-top: 50px;
}

.offline > .text-white {
  margin: 12px 0;
  font-size: 24px;
}

.offline > .button {
  width: 100px;
  text-decoration: none;
}

.offline > .transparent {
  width: 170px;
  text-decoration: none;
  background-color: transparent;
  color: #e75e8d;
  border: 1px solid #e75e8d;
}

.offline > .transparent:hover {
  background-color: #fff;
  color: #e75e8d;
  border: 1px solid #e75e8d;
}

.person-profile > .background {
  display: inline-block;
  width: 400px;
  height: 300px;
  padding: 0;
  margin: 45px 0 0 0;
}

.set > .text {
  display: flex;
  flex-direction: row;
  font-size: 14px;
  padding: 5px;
  margin: 30px;
  border-bottom: solid 1px #555;
}

.set .text > .text-no-bold {
  width: 100%;
  float: left;
}

.set .text > .color-text {
  float: right;
  color: #e75e8d;
}

.set > .no-border {
  border: none;
}

/* clips section */

.clips .block-content .block .text > .text-white {
  font-weight: 600;
  margin-top: 15px;
}

.clips .block-content .block .text > .text-white i {
  color: #e75e8d;
}

.clips .block-content .block .text > .text-white span {
  font-weight: 100;
}

.clips > .center {
  margin-top: 70px;
}

.clips .center > .button {
  text-decoration: none;
}

/* library section  */

.library .row-content .row-block .text > .text-white {
  font-size: 15px;
}

.library .row-content .row-block .text > .text-no-bold {
  font-size: 15px;
}

.library .row-block:nth-child(2) > .button:nth-child(6) {
  background-color: transparent;
  color: #666;
  border: 1px solid #666;
}
